{{ define "content" }}

<h2 class="mb-4">List of Campaign</h2>
<a href="/acara/new" class="btn btn-primary mb-3">Tambah Acara</a>

<div class="card mb-4">
    <div class="card-body">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Nama Acara</th>
                    <th>Harga </th>
                    <th>Tanggal</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{ range .campaigns }}
                <tr>
                    <td>
                        <img width="60" src="/{{ .ImgURL }}" class="img-fluid img-thumbnail">
                    </td>
                    <td>{{ .Nama_acara }}</td>
                    <td>Rp. {{ .Harga }}</td>
                    <td>{{ .Tanggal_acara }}</td>
                                            <td>
                                                <a href="/acara/edit/{{ .ID }}">Edit</a> || <a href="/acara/delete/{{ .ID }}" class="text-danger">Hapus</a>
                                            </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}