{{define "content"}}
<h1 class="h3 mb-4 text-gray-800">Transaksi page</h1>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Transaksi</h6>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No </th>
                        <th>Nama Acara</th>
                        <th>Harga </th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Shampo Event</td>
                        <td>Rp. 1000</td>
                        <td>
                            Success
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}